.Login {
  height: 100vh;
  width: 100vw;
  display: flex;
  /* overflow: hidden; */
  align-items: center;
  justify-content: space-evenly;
}

.left {
  height: 100vh;
  width: 50vw;
  padding: 4rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.info {
  color: #5901ac;
  font-size: 2.8rem;
  font-weight: 600;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-container label {
  font-size: 0.8rem;
}

.input-container input {
  border: none;
  /* border: 2px solid #00b6e5; */
  /* background-color: rgb(247, 234, 255); */
  border-radius: 0.7rem;
  padding: 1rem;
}

.input-container input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.button-container {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.signup {
  flex: 1;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  background-color: #5901ac;
  color: whitesmoke;
  border-radius: 2rem;
}

.right {
  height: 100vh;
  width: 50vw;
  padding: 3rem;
  box-sizing: border-box;
}

.container {
  background-image: url("./assets/login-art.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #5901ac;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(237, 229, 255);
  font-size: 20rem;
}

.text {
  font-size: 3rem;
  font-weight: 600;
  color: rgb(237, 229, 255);
}

.data {
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
}

.data-container {
  overflow: overlay;
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 1rem;
  box-sizing: border-box;
  border-radius: 2rem;
  height: 100%;
  padding: 2rem;
  background-color: #ffffff;
}

.data-container::-webkit-scrollbar {
  display: none;
}

.item-container {
  cursor: pointer;
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 2rem;
  /* justify-content: space-between; */
  width: 30%;
  background-color: rgb(216, 192, 255);
  color: black;
  border-radius: 2rem;
  padding: 1rem;
  text-decoration: none;
}

.item-img {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

.item-name {
  font-size: 1.5rem;
}

.item-email {
  font-size: 0.9rem;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 600;
  width: 100%;
  height: fit-content;
  background-color: rgb(156, 94, 255);
  color: white;
  border-radius: 1rem;
  padding: 1.5rem;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
}

.head-desc {
  font-size: 1.3rem;
}

.head-left {
  display: flex;
  gap: 1rem;
}

.back {
  display: flex;
  align-items: center;
  color: white;
}
.head-right {
  cursor: pointer;
  font-size: 1.3rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #ffffff;
  color: black;
}

.profile-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.profile-avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.profile-avatar {
  height: 20rem;
  width: 20rem;
  object-fit: cover;
  border-radius: 50%;
}

.profile-text {
  width: 50%;
}

.profile-data {
  font-size: 2rem;
}

.profile-data-label {
  font-size: 2.3rem;
  font-weight: 700;
}
